
<button type="button" (click)="goBack()">Go back</button>
<h1>Post Title</h1>
<p>{{posts?.author}}</p>

<!-- Aca estoy tratando de cerrar  -->
<br />

<div class="contenedor-comments" *ngIf="posts?.comments">
    <div *ngFor="let comment of posts?.comments">
       
        <app-single-comment [comment]="comment"></app-single-comment>

    </div>

</div>
<h2> Create a Comment</h2>
<div class="create_comment">

<!-- <button type="button" (click)="closeSocket()">cerrar socket</button><br /> -->
<label for="title">Title :</label>
<input name="author" type="text" [(ngModel)]="author" placeholder="author" />
<br />
<label for="author">content :</label>
<input name="content" type="text" [(ngModel)]="content" placeholder="content" />
<br />

<button [disabled]="availableState.token==='' " (click)="addComment()">Submit</button>
</div>