<h2>This is the mains section of our app</h2>


<!-- ACA lo que hace es hacer un mini formulario para nuevo post y cuendo le de click active submit
post , que submit post toma las variables newTitle y author ya con datos y alli mismo invoca al servicio
y lo manda a mongo com htttp -->
<label for="title">Title :</label><br />
<input name="title" type="text" [(ngModel)]="newTitle" placeholder="Title" />

<label for="author">Author :</label><br />
<input name="author" type="text" [(ngModel)]="newAuthor" placeholder="Author" />

<button (click)="submitPost()">Submit</button>
<!-- Hasta aca -->


<!-- aca dice que si hay post ya traidos por NgInit los recorra -->
<div *ngIf="posts">
  <div class="contenedor-post" *ngFor="let post of posts">
    <a (click) ="closeSocket()" routerLink="/detail/{{post?.aggregateId}}">Ir a detalles</a>
    <app-single-post class="holaa" [post]="post"></app-single-post>
  </div>
</div>
