/* You can add global styles to this file, and also import other style files */
html{
    background-color: #DAE0E6;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-width: 400px;
    max-width: 70%;
    margin: auto;
    background-image: url("https://media.istockphoto.com/vectors/paper-airplanes-with-dashed-lines-vector-id935290816?s=2048x2048");
    background-size: contain;
}
button {
    background-color: #4caf4fba; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }